In [51]:
import numpy as np
import pandas as pd
from ChannelAttribution import *
import plotly.io as pio

What is multi-touch attribution?

Multi-touch attribution is a method of marketing measurement that considers all touchpoints on the customer journey and allocates a certain amount of credit to each channel. This allows marketers to understand the value that each touchpoint contributes to driving a conversion. For instance, suppose a consumer is contemplating the purchase of a new smartphone. After conducting some research, they come across ads. Initially, they encounter a display ad, which they overlook. Subsequently, they notice a native ad on their Instagram feed, capturing their attention and redirecting them to a website. Finally, they receive a promotional offer via email, complete with a discount code that motivates them to make the purchase.

Each of these ads represents a touchpoint in the buyer's journey. With multi-touch attribution, marketers can examine the impact of the native ad and the email campaign, attributing the sale to these specific efforts. Meanwhile, they can recognize that the display ad was ineffective and make adjustments accordingly.

There are various multi-touch attribution models available to marketers, analyzing user-level data such as clicks and impressions to understand the influence of these events on the ultimate goal. These models vary in their evaluation of ad effectiveness, offering marketers diverse perspectives to shape their strategies.

Multi-touch attribution models aim to assign credit to different touchpoints in the customer journey. There are two families of attribution models: heuristic models and probabilistic models.

1. Multi-Touch Attribution Heuristic Models:

Heuristic models follow predefined rules to allocate credit to various touchpoints. These rules are often based on assumptions or industry best practices. Simplicity: Heuristic models are generally simpler and easier to implement. They use straightforward rules to distribute credit, making them more accessible for marketers who may not have extensive statistical expertise. Transparency: These models provide clear and understandable rules for assigning credit, offering transparency in the decision-making process. Examples of Heuristic Models are:

First touch Attribution: Attributes all credit to the first touchpoint in the customer journey, emphasizing the initial interaction's role in driving the conversion.

Last touch Attribution: Attributes all credit to the last touchpoint in the customer journey, highlighting the final interaction as the most influential in the conversion process.

Linear Attribution: Distributes credit equally to all touchpoints

2. Probabilistic Attribution Models:

Probabilistic models use statistical techniques and algorithms to analyze data and determine the probability of each touchpoint contributing to the conversion. Complexity: These models are often more complex than heuristic models, as they involve analyzing large datasets and considering various factors to determine credit allocation. Customization: Probabilistic models can be customized based on specific business requirements and nuances, allowing for a more tailored and accurate representation of the customer journey. Examples of Probabilistic Models:

***Markov Chain Models: Analyzes the sequence of touchpoints to determine the transition probabilities between them.

***Algorithmic Models: Utilizes machine learning algorithms to predict the likelihood of each touchpoint influencing a conversion.

Key Considerations:

Flexibility: Probabilistic models are often more flexible and adaptive to different business scenarios, while heuristic models may be less flexible but easier to implement.
Accuracy: Probabilistic models are generally considered more accurate because they are data-driven and can adapt to changes in consumer behavior over time.
Resource Requirements: Implementing and maintaining probabilistic models may require more resources, both in terms of data infrastructure and expertise, compared to heuristic models.
In summary, while heuristic models rely on predefined rules for credit allocation, probabilistic models leverage data-driven approaches and statistical techniques to provide a more nuanced and adaptable understanding of the customer journey. The choice between the two depends on factors such as the complexity of the business, the availability of data, and the desired level of accuracy and customization.

# START

In [52]:
#!pip install ChannelAttribution

The package contains a function that estimates three heuristic models (first-touch, last-touch and linear-touch approach) for the same problem. 
This is a gentle introduction to Markov model. 
It also contains some considerations on heuristic models.

In [53]:
# Read data

In [54]:
Data = pd.read_csv("Data.csv", sep=";")

In [55]:
Data.head()

,path,total_conversions,total_conversion_value,total_null
0,eta > iota > alpha > eta,1,0.244,3
1,iota > iota > iota > iota,2,3.195,6
2,alpha > iota > alpha > alpha > alpha > iota > ...,2,6.754,6
3,beta > eta,1,2.402,3
4,iota > eta > theta > lambda > lambda > theta >...,0,0.000,2

# heuristic_models

In [56]:
H=heuristic_models(Data,"path","total_conversions",var_value="total_conversion_value")

*** Looking to run more advanced attribution? Try ChannelAttribution Pro for free! Visit https://channelattribution.io/product

In [57]:
H.head()

,channel_name,first_touch_conversions,first_touch_value,last_touch_conversions,last_touch_value,linear_touch_conversions,linear_touch_value
0,eta,3164.0,11909.476213,4167.0,16754.203800,3539.951157,13783.497051
1,iota,4606.0,19597.261277,3355.0,13487.974271,3857.096221,15988.988995
2,alpha,6308.0,19121.272356,8447.0,28414.214274,7574.718594,24524.709569
3,beta,2831.0,12235.591744,989.0,3850.020987,2083.500145,8954.266717
4,theta,1606.0,6652.349347,653.0,2799.091988,1022.801394,4295.743619

# markov_model

In [58]:
M=markov_model(Data, "path", "total_conversions", var_value="total_conversion_value")

Number of simulations: 100000 - Convergence reached: 1.46% < 5.00%
Percentage of simulated paths that successfully end before maximum number of steps (46) is reached: 99.99%
*** Looking to run more advanced attribution? Try ChannelAttribution Pro for free! Visit https://channelattribution.io/product

In [59]:
M.head()

  channel_name  total_conversions  total_conversion_value
0          eta        3338.742007            12955.860362
1         iota        3909.928296            15194.374336
2        alpha        5272.775061            18723.710508
3         beta        2579.641010             9876.446884
4        theta        1955.429283             7445.351252

CHANNEL CONVERSIONS

CONVERSIONS
(START)->A->B->A->B->B->A->(CONV) 1 
(START) ->A -> B -> B -> A -> A -> (CONV) 1 
(START) -> A -> A -> (CONV) 1 TOTAL 3

We see that if we use a first-touch or last-touch approach, all the conversions are assigned to channel A, despite the important work of channel B in conversion game is clear from the data. The channel attribution problem can be viewed as a football match, to better understand how dierent approaches work. So channels can be viewed as players, paths are game actions and conversions are goals. Markov Model analyses relationships between game actions to understand the role of the player in scoring. While heuristic approach analyzes one action (path) at the time. So last-touch approach rewards only players who scored, while rst-touch approach rewards only players who started the action. Linear approach rewards with the same credit to every player who took part the action, while time-decay approaches gives subjective weights to every player who took part the action. As we have seen Markov Model require as inputs paths and total conversions and does not require subjective assumptions, differently from heuristic approaches.

# Now we can merge attributed conversion for each method:

In [60]:
R=pd.merge(H,M,on="channel_name",how="inner")
R.head()

,channel_name,first_touch_conversions,first_touch_value,last_touch_conversions,last_touch_value,linear_touch_conversions,linear_touch_value,total_conversions,total_conversion_value
0,eta,3164.0,11909.476213,4167.0,16754.203800,3539.951157,13783.497051,3338.742007,12955.860362
1,iota,4606.0,19597.261277,3355.0,13487.974271,3857.096221,15988.988995,3909.928296,15194.374336
2,alpha,6308.0,19121.272356,8447.0,28414.214274,7574.718594,24524.709569,5272.775061,18723.710508
3,beta,2831.0,12235.591744,989.0,3850.020987,2083.500145,8954.266717,2579.641010,9876.446884
4,theta,1606.0,6652.349347,653.0,2799.091988,1022.801394,4295.743619,1955.429283,7445.351252

In [61]:
# Selecting only the conversions
R1=R[["channel_name","first_touch_conversions","last_touch_conversions","linear_touch_conversions","total_conversions"]]

In [62]:
# Renaming columns
R1.columns=["channel_name","first_touch","last_touch","linear_touch","markov_model"]

In [63]:
R1.head()

  channel_name  first_touch  last_touch  linear_touch  markov_model
0          eta       3164.0      4167.0   3539.951157   3338.742007
1         iota       4606.0      3355.0   3857.096221   3909.928296
2        alpha       6308.0      8447.0   7574.718594   5272.775061
3         beta       2831.0       989.0   2083.500145   2579.641010
4        theta       1606.0       653.0   1022.801394   1955.429283

In [64]:
# unpivot a DataFrame from a wide to a long format. It essentially converts columns into rows
R1=pd.melt(R1, id_vars="channel_name")
R1.head(20)

   channel_name     variable   value
0           eta  first_touch  3164.0
1          iota  first_touch  4606.0
2         alpha  first_touch  6308.0
3          beta  first_touch  2831.0
4         theta  first_touch  1606.0
5        lambda  first_touch   902.0
6         kappa  first_touch    74.0
7          zeta  first_touch    27.0
8       epsilon  first_touch    99.0
9         gamma  first_touch   165.0
10        delta  first_touch     1.0
11           mi  first_touch     2.0
12          eta   last_touch  4167.0
13         iota   last_touch  3355.0
14        alpha   last_touch  8447.0
15         beta   last_touch   989.0
16        theta   last_touch   653.0
17       lambda   last_touch  1207.0
18        kappa   last_touch   230.0
19         zeta   last_touch   107.0

In [65]:
# Data prep for visulization

In [66]:
data = [dict(type = "histogram",histfunc="sum",x = R1.channel_name,y = R1.value, 
    transforms = [dict(
    type = "groupby",
    groups = R1.variable,
  )],
)]

In [67]:
fig = dict({"data":data})
pio.show(fig,validate=False)

#  Finished

In [68]:
# We can also get the same plot in terms of attributed conversion value:

In [69]:
R2=R[["channel_name","first_touch_value","last_touch_value",\
"linear_touch_value","total_conversion_value"]]
R2.columns=["channel_name","first_touch","last_touch","linear_touch","markov_model"]

R2=pd.melt(R2, id_vars="channel_name")

data = [dict(
  type = "histogram",
  histfunc="sum",
  x = R2.channel_name,
  y = R2.value,
  transforms = [dict(
    type = "groupby",
    groups = R2.variable,
  )],
)]

In [70]:
fig = dict({"data":data})
pio.show(fig,validate=False)